---
title: Domain adaptation
---
{% include pubstart.html %}

<section id="banner">
    <article>
    <p>
    <strong>Domain adaptation</strong> deals with the problem that in many learning scenarios, training and test distribution differ from each other. For example, learning a classifier for standard office objects from internet images is difficult due to their different characteristics of images uploaded on the web.
    Furthermore, the human ability to learn difficult object categories from just a few views is often explained by an extensive use of knowledge from related classes. Our research in this area also aims at exploiting this additional information source by developing new techniques for <strong>transfer learning</strong>. 
    </p>
    {% include domainadaptationpub.html %}
    </article>

</section>

                            
{% include pubend.html %}

