---
title: Fine-grained recognition
---
{% include pubstart.html %}

<section id="banner">
    <article>
    <p>
    Whereas visual recognition research mainly focused on two very different situations; distinguishing between basic-level categories (category recognition) or recognizing specific instances (instance recognition), developing algorithms for automatically discriminating categories with only small subtle visual differences (fine-grained recognition)
    is a new challenge that just started in the last couple of years. 
    
    My research in fine-grained recognition aims at developing new learning algorithms for fine-grained and part-based recognition.
    </p>
    {% include finegrainedpub.html %}
    </article>

</section>

                            
{% include pubend.html %}

