---
title: Life-long learning for visual recognition
---
{% include pubstart.html %}

<section id="banner">
    <article>
    <p>
            This area tries to bridge the gap between human and computer vision by developing algorithms that learn from
            data continuously and with minimal supervision. Together with several colleagues and students, I am
            developing <strong>active learning</strong>, <strong>novelty detection</strong>, <strong>adaptation</strong>,
            and <strong>discovery</strong> algorithms in this branch of research.
    </p>
    <img width=500px src="pimages/lifelong-concept.png">
    <p>
    <ul class="actions">
        <li><strong>Novelty detection: </strong>How can we efficiently detect novel categories?</li>
        <li><strong>Active learning: </strong>In which cases is it most valuable to ask for human annotation?</li>
        <li><strong>Adaptation: </strong>What kind of adaptation is required over time?</li>
        <li><strong>Discovery: </strong>How can we continuously discover semantic concepts in unlabeled or weakly-labeled data?</li>
    </ul>
    </p>
    {% include lifelongpub.html %}
    </article>
</section>

                            
{% include pubend.html %}

