---
title: Scene understanding
---
{% include pubstart.html %}

<div class="wrapper style1">
<article class="container">
    <p>
    The goal of scene understanding is to obtain as much semantic knowledge of a given scene image as possible. This
    include categorization (labeling the whole scene), object detection (predicting object locations by bounding boxes), and semantic segmentation (labeling each pixel).
    
    Due to this very general formulation, there is a wide range of applications, such as urban scene understanding for automotive applications, generic object detection, or inferring semantics of remote sensing data.
    </p>
    {% include sunpub.html %}
</article>
</div>

                            
{% include pubend.html %}

