<div id="footer">
	<div class="row">
		<div class="12u">
			<!-- Contact -->
			<section class="contact">
				<header>
					<h3>Contact information</h3>
				</header>
				<ul class="icons">
					<li><a href="http://www.linkedin.com/pub/erik-rodner/63/4a2/691" class="icon fa-linkedin"><span
								class="label">Linkedin</span></a></li>
					<li><a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=12811"
							class="icon fa-university"><span class="label">FSU Jena</span></a></li>
					<li><a href="http://www.github.com/erodner" class="icon fa-github"><span
								class="label">github</span></a></li>
					<li><a href="http://scholar.google.de/citations?user=2ItLnFgAAAAJ&hl=en&oi=ao"
							class="icon fa-google"><span class="label">Google scholar</span></a></li>
				</ul>
				<p>If you have any questions concerning my research or a specific detail in my publications, do not
					hesitate to write an e-mail (see university page). </p>
			</section>

			<!-- Copyright -->
			<div class="copyright">
				<a name="contact"></a>
				<ul class="menu">
					<li>&copy; Erik Rodner. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>Disclaimer: Images shown on this webpage are obtained from public vision datasets, input images
						provided by partners, or solely research results from publications referenced on this
						webpage. They are only shown for scientific illustration.</li>
				</ul>
			</div>

		</div>

	</div>
</div>
</div>

</body>

</html>