<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="index.html">Erik Rodner</a></li>
        <li><a href="index.html#news">News</a></li>
        <li><a href="index.html#shortbio">Short bio</a></li>
        <li><a href="index.html#highlights">Research</a>
            <ul>
                <li><a href="index.html#recent">Recent publications</a></li>
                <li><a href="all-publications.html">All publications</a></li>
            </ul>
        </li>
        <li>
            <a href="">Links</a>
            <ul>
                <li><a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=12811">My University Page</a>
                </li>
            </ul>
        </li>
        <li><a href="index.html#contact">Contact</a></li>
    </ul>
</nav>