        <div class="wrapper style2">
        <article class="container special" id="banner">
            <a name="news"></a>
            <header>
                <!-- <h2 class="icon fa-newspaper-o circled"><span class="label">News</span></h2> -->
                <h2>News</h2>
            </header>
                <!-- News -->
                <ul>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">06/07/18</span>
                            An important next step for machine learning in multimodal microscopy analysis: Our article
                            on FCNs applied to multimodal microscopy images got accepted for the head and neck journal
                            Rodner, Bocklitz, von Eggeling, Ernst, Chernavskaia, Popp, Denzler, Guntinas; 
                            "Fully convolutional networks in multimodal nonlinear microscopy 
                            images for automated detection of head and neck carcinoma: a pilot study".
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                            <span class="timestamp">10/04/18</span>
                            Our anomaly detection framework <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Barz18:MDI.pdf">maxdiv</a> 
                            for time series got accepted for PAMI, one of the top journals in computer science and
                            the highest ranked in computer vision. I am really proud about how a first algorithm that we published at an
                            ICML workshop (Rodner et al, 2016, ICML Workshop, <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Rodner16:MDI.pdf">pdf</a>) developed into a solid algorithmic framework, people can directly
                            use and clone at <a href="https://github.com/cvjena/libmaxdiv">github</a>!
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                            <span class="timestamp">05/04/18</span>
                            We will organize an ECCV 2018 workshop on interactive and adaptive learning that also involves techniques to speed
                            up the annotation process, which is currently the main difficulty in medical and microscopy applications.
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                            <span class="timestamp">15/12/17</span>
                            Check out the recent article on "Automatic Classification of Cancerous Tissue in Laserendomicroscopy Images"
                            published in Nature Scientific Reports! Another step for medical image analysis with deep learning. 
                        </article>
                    </li>
 
                    <li>
                        <article class="post stub">
                            <span class="timestamp">28/07/17</span>
                                Thanks to all participants of the continuous learning and open-set recognition workshop @ CVPR 2017!
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">26/07/17</span>
                        Our paper about implicit salient matches and learned high-order pooling got
                        accepted for ICCV 2017. This is work together with Marcel Simon, Yang Gao, Trevor Darrell,
                        and Joachim Denzler.
                        A preliminary arxiv version of the paper can be found here: 
                        <a href="https://arxiv.org/abs/1705.00487">arxiv draft</a>.
                        </article>
                    </li>
 
 
                    <li>
                        <article class="post stub">
                        <span class="timestamp">01/06/17</span>
                        If you are interested in a thesis topic or in an internship, drop me an email.
                        </article>
                    </li>
 
                    <li>
                        <article class="post stub">
                        <span class="timestamp">01/06/17</span>
                        I will be at CVPR 2017 this year organizing the workshop on <a href="https://erodner.github.io/continuouslearningcvpr2017/#program">
                            continuous and open-set learning</a> and giving an invited talk at the fine-grained workshop. 
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">14/12/16</span>
                        After a wonderful time at the University of Jena and being part of building a great ML 
                        and visual recognition team, I am now looking forward to joining Zeiss corporate research and
                        their fast growing ML team next year. Many applications in microscopy, medicine, and inspection for 
                        advanced machine vision and deep learning techniques are just a few foot steps away and I am happy
                        to become part of the process.
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">1/12/16</span>
                        Our work on <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Kaeding16_ACE.pdf">active learning for deep learning architectures</a> has been accepted to the NIPS Continual Learning workshop.
                        </article>
                    </li>


                    <li>
                        <article class="post stub">
                        <span class="timestamp">11/10/16</span>
                        Together with Alex Freytag, we organized a first <a href="http://www.mscj.uni-jena.de/deeplearning/">deep learning tutorial</a> for the Michael Stifel center for
                            data-driven and simulation science. It received a tremendous interest and feedback of over 100 people participating.
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">03/07/16</span>
                        We achieved the second place in the Her2 scoring contest of the University of 
                        Warwick. Details about our method will be published soon.
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">01/07/16</span>
                        Our ICML-Workshop <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Rodner16:MDI.pdf">paper</a> on anomaly detection 
                        has won the best paper award (sponsored by Google)
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">20/06/16</span>
                        Two GCPR papers accepted for publications: <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag16_CFW.pdf">
                            log-euclidean CNNs for fine-grained recognition</a> and 
                            <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Kaeding16_LAA.pdf">large-scale active learning</a>
                        </article>
                    </li>


                     <li>
                        <article class="post stub">
                        <span class="timestamp">02/14/16</span>
                        Our fine-grained project and the recent ICCV results were covered in the German news:
                        <a href="http://www.heise.de/newsticker/meldung/Bilderkennung-Algorithmen-aus-Jena-sollen-Tiere-auch-in-Bewegung-bestimmen-koennen-3084658.html">
                            heise.de</a>, 
                        <a href="http://jena.otz.de/web/lokal/leben/detail/-/specific/Vogelkunde-per-App-am-Lehrstuhl-Digitale-Bildverarbeitung-in-Jena-1943776904">
                            OTZ</a>,
                        <a href="https://idw-online.de/de/news644939">IDW</a>,
                            MDR Info Radio
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">02/14/16</span>
                        Interested in playing darts? Check my statistical analysis of darts scoring and aiming targets at 
                        <a href="https://github.com/erodner/dartssimulation.git">github.com</a> and the lab's 
                        <a href="https://www.uni-jena.de/Forschungsmeldungen/FM150331_Dart.html">visual darts recognition project</a>.
                        </article>
                    </li>
 
                    <li>
                        <article class="post stub">
                        <span class="timestamp">02/14/16</span>
                        I am also reviewing now for ICML 2016.
                        </article>
                    </li>
 
                    <li>
                        <article class="post stub">
                        <span class="timestamp">11/25/15</span>
                        The German Science Foundation now funds our project on visual fine-grained recognition.
                        </article>
                    </li>
 
                    <li>
                        <article class="post stub">
                        <span class="timestamp">11/15/15</span>
                        Paper on constellation models with convolutional neural networks accepted for ICCV.
                        Our approach achieves state-of-the-art performance on several fine-grained recognition datasets.
                        The code is available <a href="https://github.com/cvjena/part_constellation_models">here</a>.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">11/15/15</span>
                        Paper about analysis of confocal laser endomicroscopy images accepted in the Head & Neck journal.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">04/28/15</span>
                        <a href="http://cvjena.github.io/cn24/">CN24</a> is out! Do not miss this great piece of software for learning convolutional neural networks explicitly for semantic segmentation and scene understanding tasks.
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">04/13/15</span>
                            We had a successful workshop on non-iid learning in Dagstuhl with a great mix of people (<a href="http://www.dagstuhl.de/Gruppenbilder/15152.0.B.JPG">group photo</a>) from vision, machine learning, computational biology, and learning theory.
                        </article>
                    </li>
                    <!--
                    <li>
                        <article class="post stub">
                        <span class="timestamp">03/25/15</span>
                            CVPR 2015 paper accepted about active discovery of object categories. This is another great step forward in our lifelong learning project.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">03/20/15</span>
                        Together with Johannes, Marcel, and Joachim, we got two papers accepted at MVA this year in Tokyo. Two very great 
                        applications papers dealing with identity document categorization and advanced obstacle reasoning in traffic scenes.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">01/26/15</span>
                            I will give a talk about open-vocabulary object retrieval tomorrow at AAAI 2015 in Austin (<a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Guadarrama14:OOR.pdf">paper</a>, <a href="http://openvoc.berkeleyvision.org">openvoc</a>, <a href="presentation/presentation-rss.pdf">slides</a>)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">12/23/14</span>
                            VISAPP 2015 paper about scene understanding with convolutional neural networks has been accepted and we will release the code soon with near real-time performance (together with Clemens, Sven, Marcel, and Joachim)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">11/11/14</span>
                            WACV 2015 paper on local novelty detection accepted (together with Paul, Alex, and Joachim)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">10/27/14</span>
                            Björn Barz wins the best applied thesis award with our <a href="http://cvjena.github.io/artos/">artos</a> project (<a href="http://www.otz.de/startseite/detail/-/specific/Beratungspauschale-im-Fachgeschaeft-vorgeschlagen-Schwere-Zeiten-fuer-Handel-pr-1262266609">news article</a>)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Organization of a <strong>Dagstuhl workshop</strong> on Learning with Non-iid Data with Marius Kloft, Trevor Darrell, Gunnar Rätsch, and Massimiliano Pontil
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Together with Alex and Marcel, I present three <strong>papers at ECCV</strong> and the Parts and Attributes workshop about <a style="hover" href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag14:SIE.pdf">active learning</a>, <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag14:BFF.pdf">exemplar-specific feature representations</a>, and <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Simon14:BFF.pdf">patch discovery with CNNs</a>.
                        </article>
                    </li>
                     <li>
                        <article class="post stub">
                            <span class="timestamp">08/17/14</span>
                            Sergio gave a short talk about our <strong>open vocabulary paper at RSS</strong> and the video is <a href="http://youtu.be/RS20i36p3IM?list=PLQfJDb-c2bxEkXdlX7Y6sIN2ofSS4f4mW">now online</a>.
                        </article>
                    </li>
                    -->
 
                    <!-- template
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Text
                        </article>
                    </li>
                    -->
                </ul>
            </article>
        </div>


