        <div class="wrapper style2">
        <article class="container special" id="banner">
            <a name="news"></a>
            <header>
                <!-- <h2 class="icon fa-newspaper-o circled"><span class="label">News</span></h2> -->
                <h2>News</h2>
            </header>
                <!-- News -->
                <ul>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">04/28/15</span>
                        <a href="http://cvjena.github.io/cn24/">CN24</a> is out! Do not miss this great piece of software for learning convolutional neural networks explicitly for semantic segmentation and scene understanding tasks.
                        </article>
                    </li>

                    <li>
                        <article class="post stub">
                        <span class="timestamp">04/13/15</span>
                            We had a successful workshop on non-iid learning in Dagstuhl with a great mix of people (<a href="http://www.dagstuhl.de/Gruppenbilder/15152.0.B.JPG">group photo</a>) from vision, machine learning, computational biology, and learning theory.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">03/25/15</span>
                            CVPR 2015 paper accepted about active discovery of object categories. This is another great step forward in our lifelong learning project.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                        <span class="timestamp">03/20/15</span>
                        Together with Johannes, Marcel, and Joachim, we got two papers accepted at MVA this year in Tokyo. Two very great 
                        applications papers dealing with identity document categorization and advanced obstacle reasoning in traffic scenes.
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">01/26/15</span>
                            I will give a talk about open-vocabulary object retrieval tomorrow at AAAI 2015 in Austin (<a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Guadarrama14:OOR.pdf">paper</a>, <a href="http://openvoc.berkeleyvision.org">openvoc</a>, <a href="presentation/presentation-rss.pdf">slides</a>)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">12/23/14</span>
                            VISAPP 2015 paper about scene understanding with convolutional neural networks has been accepted and we will release the code soon with near real-time performance (together with Clemens, Sven, Marcel, and Joachim)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">11/11/14</span>
                            WACV 2015 paper on local novelty detection accepted (together with Paul, Alex, and Joachim)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">10/27/14</span>
                            Björn Barz wins the best applied thesis award with our <a href="http://cvjena.github.io/artos/">artos</a> project (<a href="http://www.otz.de/startseite/detail/-/specific/Beratungspauschale-im-Fachgeschaeft-vorgeschlagen-Schwere-Zeiten-fuer-Handel-pr-1262266609">news article</a>)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Organization of a <strong>Dagstuhl workshop</strong> on Learning with Non-iid Data with Marius Kloft, Trevor Darrell, Gunnar Rätsch, and Massimiliano Pontil
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Together with Alex and Marcel, I present three <strong>papers at ECCV</strong> and the Parts and Attributes workshop about <a style="hover" href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag14:SIE.pdf">active learning</a>, <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag14:BFF.pdf">exemplar-specific feature representations</a>, and <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Simon14:BFF.pdf">patch discovery with CNNs</a>.
                        </article>
                    </li>
                     <li>
                        <article class="post stub">
                            <span class="timestamp">08/17/14</span>
                            Sergio gave a short talk about our <strong>open vocabulary paper at RSS</strong> and the video is <a href="http://youtu.be/RS20i36p3IM?list=PLQfJDb-c2bxEkXdlX7Y6sIN2ofSS4f4mW">now online</a>.
                        </article>
                    </li>
 
                    <!-- template
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Text
                        </article>
                    </li>
                    -->
                </ul>
            </article>
        </div>


