        <section id="banner">
            <a name="news"></a>
            <header>
                <!-- <h2 class="icon fa-newspaper-o circled"><span class="label">News</span></h2> -->
                <h2>News</h2>
            </header>
            <article>

                <!-- News -->
                <ul>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">11/11/14</span>
                            WACV 2014 paper on local novelty detection accepted (together with Paul and Alex)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">10/27/14</span>
                            Björn Barz wins the best applied thesis award with our <a href="http://cvjena.github.io/artos/">artos</a> project (<a href="http://www.otz.de/startseite/detail/-/specific/Beratungspauschale-im-Fachgeschaeft-vorgeschlagen-Schwere-Zeiten-fuer-Handel-pr-1262266609">news article</a>)
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Organization of a <strong>Dagstuhl workshop</strong> on Learning with Non-iid Data with Marius Kloft, Trevor Darrell, Gunnar Rätsch and Massimiliano Pontil
                        </article>
                    </li>
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Together with my students Alex and Marcel, I present three <strong>papers at ECCV</strong> and the Parts and Attributes workshop about <a style="hover" href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag14:SIE.pdf">active learning</a>, <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag14:BFF.pdf">exemplar-specific feature representations</a>, and <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Simon14:BFF.pdf">patch discovery with CNNs</a>.
                        </article>
                    </li>
                     <li>
                        <article class="post stub">
                            <span class="timestamp">08/17/14</span>
                            Sergio gave a short talk about our <strong>open vocabulary paper at RSS</strong> and the video is <a href="http://youtu.be/RS20i36p3IM?list=PLQfJDb-c2bxEkXdlX7Y6sIN2ofSS4f4mW">now online</a>.
                        </article>
                    </li>
 
                    <!-- template
                    <li>
                        <article class="post stub">
                            <span class="timestamp">09/12/14</span>
                            Text
                        </article>
                    </li>
                    -->
                </ul>
            </article>
        </section>


