<div class='block' >

    <h2>2015</h2>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Brust15:CPN">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Brust15:CPN.pdf">Convolutional Patch Networks with Spatial Prior for Road Detection and Urban Scene Understanding</a>.</span>
          <br />
          <span class=bibauthor>Clemens-Alexander Brust and Sven Sickert and Marcel Simon and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>International Conference on Computer Vision Theory and Applications (VISAPP).</span>
          
          <span class=bibpages>510-517.</span>
          
          <span class=bibyear>2015.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Brust15:CPN" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Brust15:CPN.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        <a href="http://arxiv.org/abs/1502.06344"><img src="bibworldfiles/web-link.png" alt="www" title="www" target="_blank"/></a>
        
        
        <a href="http://cvjena.github.io/cn24/"><img src="bibworldfiles/code-link.png" alt="code" title="code" target="_blank"/></a>
        
        
        
        
        <span class="abstractlink" onClick="abstractclick('Brust15:CPN');">more ...</span>
        <div class="bibabstract" id="Brust15:CPN">
          <br />
          <div class='vspace'></div>
          Abstract: Classifying single image patches is important in many different applications, such as road detection or scene understanding.  In this paper, we present convolutional patch networks, which are convolutional networks learned to distinguish different image patches and  which can be used for pixel-wise labeling.  We also show how to incorporate spatial information of the patch as an input to the network, which allows for learning spatial priors for  certain categories jointly with an appearance model.  In particular, we focus on road detection and urban scene understanding, two application areas where we are able to achieve state-of-the-art  results on  the KITTI as well as on the LabelMeFacade dataset.  Furthermore, our paper offers a guideline for people working in the area and desperately wandering through all the painstaking details that  render training CNs on image patches extremely difficult.
          
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Brust15:ECP">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          Efficient Convolutional Patch Networks for Scene Understanding.</span>
          <br />
          <span class=bibauthor>Clemens-Alexander Brust and Sven Sickert and Marcel Simon and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>CVPR Workshop on Scene Understanding (CVPR-WS).</span>
          
          <span class=bibyear>2015.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Brust15:ECP" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        
        
        <a href="http://cvjena.github.io/cn24/"><img src="bibworldfiles/code-link.png" alt="code" title="code" target="_blank"/></a>
        
        
        
        
        <span class="abstractlink" onClick="abstractclick('Brust15:ECP');">more ...</span>
        <div class="bibabstract" id="Brust15:ECP">
          <br />
          <div class='vspace'></div>
          Abstract: In this paper, we present convolutional patch networks, which are convolutional (neural) networks (CNN) learned to distinguish  different image patches and which can be used for pixel-wise labeling. We show how to easily learn spatial priors for certain categories jointly  with their appearance. Experiments for urban scene understanding demonstrate state-of-the-art results on the LabelMeFacade dataset. Our approach  is implemented as a new CNN framework especially designed for semantic segmentation with fully-convolutional architectures.
          
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    

    <h2>2014</h2>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Barz14:ART">
          
        
        </td>
        <td style='vertical-align:middle'>
        
          <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Barz14:ART.pdf">ARTOS -- Adaptive Real-Time Object Detection System</a>.</span>
          <br />
          <span class=bibauthor>Björn Barz and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>arXiv preprint arXiv:1407.2721.</span>
          
          
          <span class=bibyear>2014.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Barz14:ART" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Barz14:ART.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        <a href="http://arxiv.org/abs/1407.2721"><img src="bibworldfiles/web-link.png" alt="www" title="www" target="_blank"/></a>
        
        
        <a href="http://cvjena.github.io/artos/"><img src="bibworldfiles/code-link.png" alt="code" title="code" target="_blank"/></a>
        
        
        
        
        <span class="abstractlink" onClick="abstractclick('Barz14:ART');">more ...</span>
        <div class="bibabstract" id="Barz14:ART">
          <br />
          <div class='vspace'></div>
          Abstract: ARTOS is all about creating, tuning, and applying object detection  models with just a few clicks. In particular, ARTOS facilitates learning  of models for visual object detection by eliminating the burden of  having to collect and annotate a large set of positive and negative  samples manually and in addition it implements a fast learning technique  to reduce the time needed for the learning step. A clean and friendly  GUI guides the user through the process of model creation, adaptation  of learned models to different domains using in-situ images, and  object detection on both offline images and images from a video stream.  A library written in C++ provides the main functionality of ARTOS  with a C-style procedural interface, so that it can be easily integrated  with any other project.
          
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Goehring14:ITR">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Goehring14:ITR.pdf">Interactive Adaptation of Real-Time Object Detectors</a>.</span>
          <br />
          <span class=bibauthor>Daniel Göhring and Judy Hoffman and Erik Rodner and Kate Saenko  and Trevor Darrell.</span>
          <br />
          <span class=bibvenue>International Conference on Robotics and Automation (ICRA).</span>
          
          <span class=bibpages>1282-1289.</span>
          
          <span class=bibyear>2014.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Goehring14:ITR" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Goehring14:ITR.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        <a href="http://raptor.berkeleyvision.org/"><img src="bibworldfiles/web-link.png" alt="www" title="www" target="_blank"/></a>
        
        
        
        
        
        <span class="abstractlink" onClick="abstractclick('Goehring14:ITR');">more ...</span>
        <div class="bibabstract" id="Goehring14:ITR">
          <br />
          <div class='vspace'></div>
          Abstract: In the following paper, we present a framework for quickly training  2D object detectors for robotic perception. Our method can be used  by robotics practitioners to quickly (under 30 seconds per object)  build a large-scale real-time perception system. In particular, we  show how to create new detectors on the fly using large-scale internet  image databases, thus allowing a user to choose among thousands of  available categories to build a detection system suitable for the  particular robotic application. Furthermore, we show how to adapt  these models to the current environment with just a few in-situ images.  Experiments on existing 2D benchmarks evaluate the speed, accuracy,  and flexibility of our system.
          
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    

    <h2>2013</h2>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Froehlich13:GSS">
          
        
        </td>
        <td style='vertical-align:middle'>
        
          <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich13:GSS.pdf">Large-Scale Gaussian Process Multi-Class Classification for Semantic  Segmentation and Facade Recognition</a>.</span>
          <br />
          <span class=bibauthor>Björn Fröhlich and Erik Rodner and Michael Kemmler and Joachim  Denzler.</span>
          <br />
          <span class=bibvenue>Machine Vision and Applications.</span>
          
          <span class=bibpages>24(5):</span>
          
          
          <span class=bibpages>1043-1053.</span>
          
          <span class=bibyear>2013.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Froehlich13:GSS" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich13:GSS.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        
        
        
        
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    

    <h2>2012</h2>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Freytag12:ESS">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag12:ESS.pdf">Efficient Semantic Segmentation with Gaussian Processes and Histogram  Intersection Kernels</a>.</span>
          <br />
          <span class=bibauthor>Alexander Freytag and Björn Fröhlich and Erik Rodner and  Joachim Denzler.</span>
          <br />
          <span class=bibvenue>International Conference on Pattern Recognition (ICPR).</span>
          
          <span class=bibpages>3313-3316.</span>
          
          <span class=bibyear>2012.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Freytag12:ESS" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Freytag12:ESS.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        
        
        
        
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Froehlich12:ATG">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich12:ATG.pdf">As Time Goes By: Anytime Semantic Segmentation with Iterative Context  Forests</a>.</span>
          <br />
          <span class=bibauthor>Björn Fröhlich and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>Symposium of the German Association for Pattern Recognition (DAGM).</span>
          
          <span class=bibpages>1-10.</span>
          
          <span class=bibyear>2012.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Froehlich12:ATG" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich12:ATG.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        
        
        
        
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Froehlich12:SSM">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich12:SSM.pdf">Semantic Segmentation with Millions of Features: Integrating Multiple  Cues in a Combined Random Forest Approach</a>.</span>
          <br />
          <span class=bibauthor>Björn Fröhlich and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>Asian Conference on Computer Vision (ACCV).</span>
          
          <span class=bibpages>218-231.</span>
          
          <span class=bibyear>2012.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Froehlich12:SSM" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich12:SSM.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        
        
        
        
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    

    <h2>2010</h2>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Froehlich10:AFA">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich10:AFA.pdf">A Fast Approach for Pixelwise Labeling of Facade Images</a>.</span>
          <br />
          <span class=bibauthor>Björn Fröhlich and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>International Conference on Pattern Recognition  (ICPR).</span>
          
          <span class=bibpages>3029-3032.</span>
          
          <span class=bibyear>2010.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Froehlich10:AFA" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Froehlich10:AFA.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        
        
        
        
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    

    <h2>2009</h2>
    
        <div class='paperblock' >
        <table>
	  
        <td width=150px>
	  
        
          
                <img width=90% class=teaserimg src="http://hera.inf-cv.uni-jena.de:6680/teaser/Kemmler09:GCE">
          
        
        </td>
        <td style='vertical-align:middle'>
        
 	      <span class=bibtitle>
          <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Kemmler09:GCE.pdf">Global Context Extraction for Object Recognition Using a Combination  of Range and Visual Features</a>.</span>
          <br />
          <span class=bibauthor>Michael Kemmler and Erik Rodner and Joachim Denzler.</span>
          <br />
          <span class=bibvenue>Dynamic 3D Imaging Workshop.</span>
          
          <span class=bibpages>96-109.</span>
          
          <span class=bibyear>2009.</span>
        
		
		
	
        <a href="http://hera.inf-cv.uni-jena.de:6680/bib/Kemmler09:GCE" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="bibworldfiles/get-bib-source.png" alt="BibTeX" /></a>
        
        <a href="http://hera.inf-cv.uni-jena.de:6680/pdf/Kemmler09:GCE.pdf"><img src="bibworldfiles/pdf-document.png" alt="pdf" title="pdf"/></a>
        
        
        
        
        
        
        </div>
        </td>
        </table>
        </div>
        <div class='vspace'></div>
    

</div>